a {
    color: #000;
}
.form-none {
    display: none;
}
.main-header {
    box-shadow: 1px 0 10px rgba(69, 65, 78, 0.15);
}

.nav-item.v2 {
    padding: 0 6%;
    margin-bottom: 20px;
}

.nav-item.v2 a p,
.nav-item.v2 a i,
.sidebar .nav > .nav-item.v2 a:focus p,
.sidebar .nav > .nav-item.v2 a:hover p,
.sidebar .nav > .nav-item.v2 a:focus i,
.sidebar .nav > .nav-item.v2 a:hover i {
    color: #fff !important;
}

.btn-primary {
    background: #325e85 !important;
    border-color: #325e85 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:disabled {
    background: #3f6f99 !important;
    border-color: #3f6f99 !important;
}

.form-control,
.form-group-default {
    border-color: #d6d8db;
}

.form-control-sm {
    font-size: 12px !important;
}

.nav-pills.nav-secondary .nav-link.active {
    background: #626c74 !important;
    border: 1px solid #4c555c !important;
}

.form-label-width label {
    width: 120px;
}

.c-red {
    color: #f00;
}

.btn-brown {
    border-color: #d18a2d !important;
    background-color: #d18a2d !important;
}

.btn-brown:hover,
.btn-brown:active,
.btn-brown:focus {
    border-color: #91601e !important;
    background-color: #91601e !important;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li > span,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
    border-radius: 0 !important;
    margin: 0 0 0 -1px !important;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem !important;
    border-bottom-left-radius: 0.2rem !important;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem !important;
    border-bottom-right-radius: 0.2rem !important;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.6rem;
}

.pagination > li.prev > a,
.pagination > li.next > a {
    padding: 0.25rem 0.7rem;
}

.page-item.active .page-link {
    background-color: #405189;
    border: 1px solid #405189;
}

.form-calendar {
    background: url("../img/ico-calendar.png") no-repeat 90% 50%;
    background-size: 16px auto;
}

.form-calendar.v2 {
    background-size: 20px auto;
    background-position: 96% 50%;
}

table.table.v2 {
    border: 0 !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.table.v2 thead tr th,
table.table.v2 tbody tr td {
    text-align: center;
    padding: 1px 0 !important;
    line-height: 13px;
    border-color: #afafaf !important;
    padding: 0 !important;
}

table.table.v2 thead tr th {
    height: 23px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    /* background: #e1e6ee; */
    background-color: #484848;
    color: #fff;
    font-size: 12px;
}

table.table.v2 tbody tr td {
    height: 47px;
    border-left: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    font-size: 12px;
}

table.table.v2 tbody tr td:first-child {
    /* border-left: 0 !important; */
}

table.table.v2.padding-none tbody td {
    /* padding: 0 !important; */
}

table.table .table-sm {
    display: block;
    font-size: 13px;
    font-weight: normal;
}

.table-scroll-section {
    overflow-x: scroll;
    display: flex;
    width: 500px;
}

table.table.v2.left-table thead th {
    height: 46px;
}

table.table .complate-tr th,
table.table .complate-tr td,
table.table .complate-tr th button,
table.table .complate-tr td button {
    background-color: #dad9d9 !important;
}

table.table.v2.table-sum thead th {
    font-size: 10px;
    line-height: 11px;
}

table.table.v2.table-sum tbody tr td {
    border-left: 1px solid #000;
    font-weight: normal;
}

.badge {
    border-radius: 5px;
    width: 83px;
}

.badge.step1 {
    background: #ffcc00;
    border: 1px solid #ffcc00;
    color: #292000;
    font-weight: bold;
}

.badge.step2 {
    background: #6af986;
    border: 1px solid #6af986;
    color: #19381f;
    font-weight: bold;
}

.badge.step3 {
    background: #b1acf6;
    border: 1px solid #b1acf6;
    color: #fff;
    font-weight: bold;
}

.badge.step4 {
    background: #d18a2d;
    border: 1px solid #d18a2d;
    color: #fff;
    font-weight: bold;
}

.badge.step5 {
    background: rgb(184, 184, 184);
    border: 1px solid rgb(184, 184, 184);
    color: #000;
    font-weight: bold;
}

.badge.step6 {
    background: #dfa65c;
    border: 1px solid #dfa65c;
    color: #fff;
    font-weight: bold;
}

.badge.step7 {
    background: #9a6725;
    border: 1px solid #9a6725;
    color: #fff;
    font-weight: bold;
}

.badge.step8 {
    background: #f8c7dd;
    border: 1px solid #f8c7dd;
    color: #000;
    font-weight: bold;
}

.aps-button {
    display: block;
    width: 60px;
    height: 100%;
    padding: 0;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.aps-button.green .aps-top,
.aps-button.green .aps-middle > div,
.aps-button.green .aps-bottom > div {
    background: #6af986 !important;
}

.aps-button.purple .aps-top,
.aps-button.purple .aps-middle > div,
.aps-button.purple .aps-bottom > div {
    background: #b1acf6 !important;
}

.aps-button.gray .aps-top,
.aps-button.gray .aps-middle > div,
.aps-button.gray .aps-bottom > div {
    background: rgb(218, 218, 218) !important;
}

.aps-button.brown .aps-bottom > div:last-child {
    background-color: #cd8323 !important;
}

.aps-button.pink .aps-top,
.aps-button.pink .aps-middle > div,
.aps-button.pink .aps-bottom > div {
    background: #f8c7dd !important;
}

.aps-button.blur {
    /* opacity: 0.4; */
    filter: brightness(60%);
}

.aps-button.active {
    border: 1px solid #000;
}

.aps-tool {
    display: flex;
    background-color: #ecff9e;
}

.aps-tool > div {
    flex-grow: 1;
    width: 50%;
}

.aps-top {
    font-size: 11px;
    line-height: 14px;
    border-bottom: 1px solid #000;
    background-color: #ecff9e;
}

.aps-middle {
    border-bottom: 1px solid #000;
}

.aps-middle > div {
    font-size: 11px;
    flex-grow: 1;
    width: 50%;
    line-height: 14px;
    background-color: #ffcc00;
}

.aps-middle > div:first-child {
    border-right: 1px solid #000;
}

.aps-bottom > div {
    flex-grow: 1;
    width: 50%;
    font-size: 11px;
    line-height: 14px;
    background-color: #ffcc00;
}

.aps-bottom > div:first-child {
    border-right: 1px solid #000;
}

.aps-button.v2 {
    width: 100px;
}

.aps-button.v3 {
    width: auto;
}

.aps-button.v2 .aps-content {
    width: 100px;
}

.aps-button.v3 .aps-content {
    width: 60px;
}

.aps-button.v2 .aps-side {
    width: 40px;
}

.aps-button.v3 .aps-side {
    /* width: 90px; */
}

.aps-side {
    display: flex;
    /* flex-direction: column; */
}

.aps-side div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 12px;
    font-weight: bold;
    word-break: break-all;
}

.aps-side div span {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
    word-break: break-all;
}

.aps-side div span {
    background-color: #0b8b28;
    color: #fff;
    line-height: 11px;
}

.aps-side div.aps-memo {
    width: 30px;
}

.aps-side div.aps-memo span {
    background-color: #f00;
    color: #fff;
}

.aps-plus {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
}

.aps-plus span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    border: 1px solid #000;
    background-color: #eee;
    color: #000;
    border-left: 0;
}

.file-box {
}

.file-title {
    padding: 8px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background: #535050;
    color: #fff;
    font-weight: bold;
}

.file-content {
    overflow: auto;
    height: 135px;
    padding: 10px;
    border: 1px solid #afafaf;
}

.file-content > div {
    padding: 0 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e0dfdf;
}

.file-content table {
    margin-top: -11px;
    margin-bottom: -5px;
}

.file-content table tbody tr:last-child td {
    /* border-bottom: 0; */
}

.file-list {
    width: 220px;
}

.section-history {
    overflow: auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.modal-xl {
    max-width: 1000px;
}

.modal-body.v2 {
    background: #f1f1f1;
}

.btn-delete {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 0;
    background: none;
    transform: rotate(45deg);
}

/* .delete-calendar {
    position: absolute;
    right: -1px;
    top: -4px;
    border: 0;
    background: none;
    transform: rotate(45deg);
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.delete-calendar i {
    font-size: 16px;
} */

#common-loading {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20000;
    right: 0;
    bottom: 0;
}

#common-loading::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}

#common-loading div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20001;
    border-radius: 40px;
}

#common-loading img {
    border-radius: 40px;
    width: 300px;
}
#common-loading p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    font-size: 16px;
    text-align: center;
}

.folder-section > div {
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.folder-section a {
    display: block;
    width: 150px;
    text-align: center;
}

.folder-section a:hover {
    text-decoration: none;
}

.folder-section a div {
    margin: -20px 0 10px;
}

.folder-section i {
    font-size: 80px;
}

.folder-section button {
    border: 0;
    background: transparent;
    position: absolute;
    right: -10px;
    top: -7px;
    cursor: pointer;
}

.folder-section button i {
    font-size: 20px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #f6f6f6 !important;
    border: 1px solid #c5c5c5 !important;
    color: #454545 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff !important;
    background: #007fff !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

.bg-gray button {
    background: #f8f8d8;
}

.add-section {
    height: 100%;
}

@media (max-width: 780px) {
    .m-flex-none {
        display: block !important;
    }

    .m-di-ib {
        display: inline-block !important;
    }

    .m-mt-20 {
        margin-top: 20px;
    }
}
